html, body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #F8EFE0;
    margin-top: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #F8EFE0; 
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}