html, body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #F8EFE0;
    margin-top: auto;
}

.header {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #F8EFE0; 
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculatorWrap {
    margin-top: auto;
    margin-bottom: auto;
}

.display {
    background-color: #D3D3D3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    border: 1px solid black;
    
}

button {
    height: 80px;
    width: 80px;
    border: 1px solid black;
    margin: 2px;
}